<section class="page-content">

    <div class="content-container">

        <div class="subsection-container" style="padding-top: 0px;">

            <div class="title-card">
                <h2>About diabetes</h2>
            </div>

            <h4>What is diabetes?</h4>
            <p>There are two main types of diabetes:</p>

            <ul>
                <li><p><b>Type 1 diabetes</b> is when the pancreas doesn’t produce insulin.</p></li>
                <li><p><b>Type 2 diabetes</b> is when the pancreas either doesn’t produce enough insulin or the body doesn’t use it effectively.</p></li>
            </ul>

            <p class="youtube-embed">
                <div class="youtube-container">
                    <iframe width="1280" height="720" src="https://www.youtube.com/embed/wZAjVQWbMlE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </p>
        </div>

        <div class="subsection-container">
            <h4>Symptoms</h4>
            <p>Symptoms of diabetes include:</p>
            <ul>
                <li>being more thirsty than usual</li>
                <li>passing more urine</li>
                <li>feeling tired and lethargic</li>
                <li>slow-healing wounds</li>
                <li>itching and skin infections, particularly around the genitals</li>
                <li>blurred vision</li>
                <li>nausea and vomiting</li>
                <li>weight loss</li>
                <li>mood swings</li>
            </ul>
        </div>

        <div class="subsection-container">
            <h4>Treatment</h4>
            <p>Untreated diabetes can cause serious complications. With careful management of diet, exercise and medication consequences can be severely reduced or avoided all together.
                Diabetes@home is one way of managing diabetes and more information about how we can help can be found here.</p>
                
            <p>If you are worried about any of the above symptoms contact your local GP immediately and get in contact with them as soon as possible.</p>
        </div>

        <div class="subsection-container">
            <h4>Further information</h4>
            <p>For more information on the symptoms and impacts of diabetes, visit the below trusted sources.</p>
            <div class="references-flex-box">
                <a href="https://www.diabetesaustralia.com.au/"><img class="reference-image" src="https://www.diabetesaustralia.com.au/wp-content/uploads/2019/09/logo.png" alt=""></a>
                <a href= "https://www.who.int/news-room/fact-sheets/detail/diabetes"><img class="reference-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/World_Health_Organization_Logo.svg/1200px-World_Health_Organization_Logo.svg.png" alt=""></a>
                <a href= "https://www.betterhealth.vic.gov.au/health/conditionsandtreatments/diabetes"><img class="reference-image" src="https://content.dhhs.vic.gov.au/sites/default/files/site_logo/logo.png" alt=""></a>
            </div>
        </div>
        
    </div>

</section>