<section class="page-content">

    <div class="content-container">

        <div class="title-card">
            <h2>About this website</h2>
        </div>

        <p>This website was made for patients experiencing diabetes.</p>

        <p>The aim of this website is to allow patients to record and keep track of their health data. This website also allows the clinicians to monitor and further support the patients with support messages.</p>

        <p>Health data you will record on this website include:</p>

        <ul>
            <li>Blood Glucose level</li>
            <li>Weight</li>
            <li>Dosage intake</li>
            <li>Step Count</li>
        </ul>

        <p>Users who have not yet created an account will have to create one to access most features</p>  

        <p>Perks are available for regular users, these perks include:</p>

        <ul>
            <li>Digital Badge</li>
            <li>Visual leaderboard for 5 patients with the highest engagement rate.</li>
        </ul>
    </div>

</section>